<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/favicon.png' %}"
    />
    <script src="{% static 'script/script.js' %}" defer></script>
    <title>INVENTORY MANAGER</title>
  </head>
  <body>
    <div>
      <div class="shop_details">
        <h1>SRI AISHWARYA TRADER</h1>
        <h3>HOME APPLIANCES AND FURNITURES</h3>
        <p>8/458, Perumal Kovil Street, Paramakudi</p>
      </div>
      <div class="shop_contact">
        <h4>GSTIN : 33AWIPG1697D2ZN</h4>
        <h4>Cell : 9894680330</h4>
      </div>
    </div>
    <hr />
    <div class="link_left">
      <a href="/inventory"><h2>INVENTORY</h2></a>
    </div>

    <div class="link_left">
      <a href="/sales"><h2>SALES</h2></a>
    </div>

    <div class="link_left">
      <a href="/invoice"><h2>INVOICE</h2></a>
    </div>
    <hr />
    <div>
      <div class="search">
        <h3>Search Sales</h3>
        <form method="GET" autocomplete="on">
          {% csrf_token %}
          <div class="pull-left">
            <label>Customer Name</label>
            <input type="text" name="cust_name" />
            <label>Date</label>
            <input type="date" name="date" />
            <label>Brand</label>
            <input type="text" name="brand" />
            <label>Product</label>
            <input type="text" name="product" />
            <label>Model</label>
            <input type="text" name="model" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <input type="reset" value="Clear" class="btn btn-danger" />
          </div>
        </form>
      </div>
    </div>
    <div>
      <div class="col-md-offset-0 col-md-3">
        <form method="post" autocomplete="on">
          {%csrf_token%}
          <h3 class="page-header text-primary text-center">Add Sales</h3>
          <label class="form-label">Customer Name</label>
          <input type="text" name="cust_name" maxlenght="50" />
          <br />
          <label class="form-label">Date</label>
          <input type="date" name="date" maxlenght="10" />
          <br />
          <label class="form-label">Brand</label>
          <input type="text" name="brand" maxlenght="20" />
          <br />
          <label class="form-label">Product</label>
          <input type="text" name="product" maxlenght="20" />
          <br />
          <label class="form-label">Model</label>
          <input type="text" name="model" maxlenght="20" />
          <br />
          <label class="form-label">Price</label>
          <input type="text" name="price" maxlenght="5" />
          <br />
          <label class="form-label">Quantity</label>
          <input type="text" name="quantity" maxlenght="2" />
          <div id="items_div"></div>
          <div class="form-group pull-right">
            <input type="submit" value="Order" class="btn btn-primary" />
            <input type="reset" value="Clear" class="btn btn-danger" />
          </div>
        </form>
        <div class="form-group pull-left">
          <button onclick="ADD_ITEMS()" class="btn">Add Items</button>
        </div>
      </div>
    </div>
    <div>
      {% if error %}
      <div class="error1">ERROR: {{error}}</div>
      {% endif %}
      <div class="col-md-7">
        {% if sales_list %}
        <h3 class="page-header text-primary text-center">Sales List</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><h4>Customer_name</h4></th>
              <th><h4>Date</h4></th>
              <th><h4>Brand</h4></th>
              <th><h4>Product</h4></th>
              <th><h4>Model</h4></th>
              <th><h4>Price</h4></th>
              <th><h4>Quantity</h4></th>
              <th><h4>Amount</h4></th>
            </tr>
          </thead>
          {% for instance in sales_list %}
          <tbody>
            <tr>
              <td>{{instance.sales_id.customer_name}}</td>
              <td>{{instance.sales_id.date}}</td>
              <td>{{instance.brand}}</td>
              <td>{{instance.product}}</td>
              <td>{{instance.model}}</td>
              <td>{{instance.price}}</td>
              <td>{{instance.quantity}}</td>
              <td>{{instance.amount}}</td>
              <td>{{instance.sales_id.total}}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </div>
  </body>
</html>
